[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule "bundle/julia-vim"]
	path = bundle/julia-vim
	url = git://github.com/JuliaLang/julia-vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/neosnippet.vim"]
	path = bundle/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "bundle/neosnippet-snippets"]
	path = bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets
[submodule "bundle/vimshell.vim"]
	path = bundle/vimshell.vim
	url = https://github.com/Shougo/vimshell.vim.git
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "confs/unite.vim"]
	path = confs/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule "bundle/neomru.vim"]
	path = bundle/neomru.vim
	url = https://github.com/Shougo/neomru.vim.git
